@font-face {
  font-family: "vazir-bold";
  src: url('./assets/fonts/Vazir-Bold-FD-WOL.woff2');
}

@font-face {
  font-family: "vazir-light";
  src: url('./assets/fonts/Vazir-Light-FD-WOL.woff2');
}

@font-face {
  font-family: "vazir-medium";
  src: url('./assets/fonts/Vazir-Medium-FD-WOL.woff2');
}

@font-face {
  font-family: "vazir-thin";
  src: url('./assets/fonts/Vazir-Thin-FD-WOL.woff2');
}

.vazir-bold {
  font-family: "vazir-bold" !important;
}

.vazir-light {
  font-family: "vazir-light" !important;
}

.vazir-thin {
  font-family: "vazir-thin" !important;
}

.vazir-medium {
  font-family: "vazir-medium" !important;
}

.cursur-pointer {
  cursor: pointer;
}

.cursur-defualt {
  cursor: default ;
}

.MuiFormControlLabel-label {
  font-family: "vazir-medium" !important;
  font-size: 14px !important;
}

.MuiFilledInput-input {
  text-align: right;
  font-family: "vazir-medium" !important ;
}

.wrapperClassName {
  width: 100%;
}

.editorClassName,.toolbarClassName {
  background: #f0f0f0 !important;
}

.editorClassName {
  padding: 10px !important;
  scroll-behavior: smooth;
  overflow: auto;
}

.toolbarClassName {
  margin-bottom: 3px !important;
  margin-top: 20px;
}